@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center indexView">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <video class="videoIndex" muted autoplay loop>
        <source src="~/videos/video-back-index.mp4" type="video/mp4" />
    </video>
    <div class="capa"></div>
</div>


