@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center indexView">
    <div id="messageIndex">
        <h1 class="display-4">
            ¡Bienvenidos a Tech-Oil!
        </h1>
        <p id="pBienvenida">
            En Tech-Oil, nos enorgullece ser líderes en la industria de los hidrocarburos, 
            brindando soluciones innovadoras y sostenibles para las necesidades energéticas del mundo. 
            Desde nuestra fundación, hemos estado comprometidos con la excelencia, la seguridad y la responsabilidad
            ambiental.
        </p>
    </div>
    <video class="videoIndex" muted autoplay loop>
        <source src="~/videos/video-back-index.mp4" type="video/mp4" />
    </video>
    <div class="capa"></div>
</div>


