
html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    height: 50px;
    position: absolute;
    bottom: 0;
}
.titAndSerch {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position:relative
}
#inputSearch {
    width: 235px;
}
.glass{
    font-size:13px;
    position:absolute;
    right:13px;
    top:18px
}
a img.img-log{
    width:35px;
    height:35px;
    border-radius:50%
}
main {
    margin-top: -20px;
    margin-bottom: 35px;
}
.mainModified {
    width: 90vw;
    margin-top: 25px;
    margin-bottom: 50px;
}
.listsAndForms {
    display: flex;
    flex-direction: column
}
.indexView {
    background-image: url('../images/tech-oil-logo.jpg');
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 105vh;
    position: relative;
    width: 100%;
}
.videoIndex {
    display: none
}
#messageIndex {
    position: relative;
    z-index: 2;
    color: white;
    background: black;
    opacity: 0.5;
    height: 100vh;
}

p#pBienvenida {
    width: 90vw;
    font-size: 25px;
    margin-top: 150px;
}
.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#000000;
    opacity:0.5;
    mix-blend-mode:overlay;
}
@media (min-width: 768px) and (max-width:1023px) {
    
    html {
            font-size: 16px;
        }

    html {
        position: relative;
        min-height: 100%;
    }

    footer {
        height: 50px;
        position: absolute;
        bottom: 0;
    }

    .titAndSerch {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative
    }

    .glass {
        font-size: 13px;
        position: absolute;
        right: 13px;
        top: 18px
    }

    a img.img-log {
        width: 35px;
        height: 35px;
        border-radius: 50%
    }

    main {
        margin-top: -20px;
        margin-bottom: 35px;
    }

    .mainModified {
        width: 90vw;
        margin-left: 5vw;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    .listsAndForms {
        display: flex;
        flex-direction: column
    }

    .videoIndex {
        display:none
    }
    #messageIndex {
        position: relative;
        z-index: 2;
        color: white;
        background: black;
        opacity: 0.5;
        height: 100vh;
    }

    p#pBienvenida {
        width: 90vw;
        font-size: 25px;
        margin-top: 150px;
    }

    .capa {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.5;
        mix-blend-mode: overlay;
    }
}
@media (min-width: 1024px) {
    html {
        font-size: 14px;
    }

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }

    html {
        position: relative;
        min-height: 100%;
    }

    footer {
        height: 50px;
        position: absolute;
        bottom: 0;
    }

    .titAndSerch {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative
    }

    .glass {
        font-size: 13px;
        position: absolute;
        right: 13px;
        top: 18px
    }

    a img.img-log {
        width: 35px;
        height: 35px;
        border-radius: 50%
    }

    main {
        margin-top: -20px;
        margin-bottom: 35px;
    }

    .mainModified {
        width: 90vw;
        margin-left: 5vw;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .listsAndForms {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .indexView {
        background:none;
        min-height: 100vh;
        position: relative;
    }

    .videoIndex {
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index:1
    }

    .capa {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.5;
        mix-blend-mode: overlay;
    }
    #messageIndex {
        position: relative;
        z-index: 2;
        color: white;
        background: black;
        opacity: 0.5;
        height: 100vh;
    }
    p#pBienvenida {
        width: 90vw;
        font-size:25px;
        margin-top:150px;
    }
    .dataList {
        width: 75%
    }
}
